.container1{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}
.container1_1{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.container1_1 h2{
    margin-left: 50px;
}
.container1_1 > div:nth-child(2){
    margin-left: 20px;
}
.container1_1 > div:nth-child(3):hover{
    color: #f43397;
    cursor: pointer;
}
.container2{
    border: 1 px solid black;
    width: 200px;
}
.container2_1{
    display: flex;
    justify-content: space-between;
    /* gap: 100px; */
}
.container2 button{
    width: 100%;
    height: 30px;
    background-color: #f43397;
    color: white;
    border: none;
}